{% extends 'index.html' %}
{% block main %}
<nav class="nav">
  <a href="/home">Home</a>
  <h4>Cybersoft Document Management System</h4>
  <a href="/logout" class="btn-add">Logout</a>
</nav>
<div class="sidebar">
  <ul id = "sidebar-list">
      <li>Cybersoft</li>
      <li>
        <a href="/addDocument" class="btn-add">Add New File</a>
      </li>
      {% for field in fields  %}
        <li>
          <div class="sidebar-inner-container">
            <div id = "div">
                {{field.field}} >
                <ul class="sidebar-inner-list" id = "{{field.field}}">
                {% for document in alldocuments %}
                  {% if document.field == field.field %}
                    <li ><a href = "/home/{{document.document_name}}">{{document.document_name}}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
            </div>
          </div>
        </li>
      {% endfor %}
  </ul>
</div>
{% block table %}
{% endblock table %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Name Of The Directory</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="dirname">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock main %}