{% extends 'home.html' %}
{% block table %}
<div class="document-table">
    <div>
      <h6>Document Name: </h6> 
      <p>{{document.document_name}}</p>
      <h6>Document Desc: </h6>
      <p>{{document.desc}}</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sürüm</th>
          <th scope="col">Tarih</th>
          <th scope="col">Durum</th>
        </tr>
      </thead>
      <tbody>
        {% for document in documents %}
          <tr>
            <td><a href="download/{{document.document_name}}/{{document.version}}">{{document.version}}</a></td>
            <td>{{document.change_date}}</td>
            <td>{{document.status}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock table %}